#!/bin/bash

# lsetup
export ATLAS_LOCAL_ROOT_BASE=/cvmfs/atlas.cern.ch/repo/ATLASLocalRootBase
source $ATLAS_LOCAL_ROOT_BASE/user/atlasLocalSetup.sh  
lsetup eiclient

# import env vars from sysconfig
source @@virtual_env@@/etc/sysconfig/panda_server

python @@install_purelib@@/pandaserver/test/evpPD2P.py
