#!/bin/bash

# import env vars from sysconfig
source @@virtual_env@@/etc/sysconfig/panda_server

python @@install_purelib@@/pandaserver/proxycache/panda_activeusers_query.py >> /var/log/panda/panda-proxyCache.log
