#!/bin/bash

# lsetup
export ATLAS_LOCAL_ROOT_BASE=/cvmfs/atlas.cern.ch/repo/ATLASLocalRootBase
source $ATLAS_LOCAL_ROOT_BASE/user/atlasLocalSetup.sh  
lsetup eiclient

# import env vars from sysconfig
source /etc/sysconfig/panda_server

python@@python_exec_version@@ @@install_purelib@@/pandaserver/test/evpPD2P.py
